<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>425754610077-of6i3oe81h90oco2nbrdhl8h5a81kha4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425754610077-of6i3oe81h90oco2nbrdhl8h5a81kha4</string>
	<key>API_KEY</key>
	<string>AIzaSyDeORLDryoQ1JRQyOst70Vh_pTupxVwt8A</string>
	<key>GCM_SENDER_ID</key>
	<string>425754610077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>end.EndProject</string>
	<key>PROJECT_ID</key>
	<string>endproject-9436b</string>
	<key>STORAGE_BUCKET</key>
	<string>endproject-9436b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425754610077:ios:3aff313464b34d39</string>
	<key>DATABASE_URL</key>
	<string>https://endproject-9436b.firebaseio.com</string>
</dict>
</plist>